/ParallelCollaborativeInference.egg-info
/build
/dist
**/__pycache__
/data
/kapao/Arial.ttf
/result/compare.txt
*.pt
*.pkl
.vscode/
**/build
**/devel
.idea/
**/*.pyc
**/*.pth
**/raw_data/
**/_*
*.mixed_plan
pytorch/
openmpi*